section.footernext
  .container
    .row
      .col-md-12
        .footernext__par.col-md-10
          p.footernext__text Юридические реквизиты: ООО Контекстрой, ИНН 260806481409, ОГРН 315265100027588, р/с 40802810200000153158
          p.footernext__text Пункты самовывоза материалов: г. Ставрополь, ул. Пирогова 15/2
        .col-md-2
          p.footernext__year 2018, Контекстрой  
