.editor
  p
    font-weight: 300
    font-size: 18px
    color: $color-dark-gray  
    line-height: 24px
    margin: 20px 0
    @media(max-width: 500px)
      font-size: 16px
      text-align: center

  h2
    font-weight: 700
    font-size: 28px
    color: $color-dark-gray
    margin: 20px 0 20px 0
    @media(max-width: 991px)
      font-size: 20px
      text-align: center
  & > img
    margin: 20px
    @media(max-width: 991px)
      width: 100%
      margin: 10px 0
  
  ul
    margin-top: 20px
    list-style-image: url('/img/iconmarker.png')
    list-style-position: inside