extends ./layout.pug

block metatags
    title= 'Контектстрой, страницы не существует'
    
    meta(name='description' content='Контектстрой, страницы не существует')
    meta(name='keywords' content='Контектстрой, страницы не существует')   

    h1= message + error.status
