extends layout.pug

block body
  include ./components/headertop.pug
  include ./components/headercenter.pug
  include ./components/headerbottom.pug
  include ./components/mainmaterials.pug
  include ./components/footer.pug
  include ./components/footernext.pug

block bottomScript
